<ul>
  {{#each payment in model}}
      <li>
        {{#link-to 'payment' payment}}
          {{payment.amount}}
        {{/link-to}}
      </li>
  {{else}}
      <li>No payments found.</li>
  {{/each}}
</ul>
