@import "settings";
@import "foundation";

.content-wrapper {
  height: 100%;
}

button, .button {
  &.xtiny {
    @include button-size($padding: $button-xtny);
    font-size: 0.7rem;
  }
}

canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

.left-panel {
  padding: 10px;
  height: 100%;
  background-color: #F5F5F5;
}

body {
  background-color: rgb(245, 245, 245);
}

body > .ember-view {
  height: 100%;
}

.center-panel {
  height: 100%;
  border-left: 1px solid #ddd;
  background-color: white;
}

.full-width {
  width: 100%;
}

.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
}
