@import "settings";
@import "foundation";

.content-wrapper {
  padding: 10px;
}

button, .button {
  &.xtiny {
    @include button-size($padding: $button-xtny);
    font-size: 0.7rem;
  }
}

canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
