<ul>
    <li>
        <label{{action "selectCategory" on="doubleClick"}}>{{name}}</label>
      {{#if children}}
        {{#each children}}
          {{partial "categories/children"}}
        {{/each}}
      {{/if}}
    </li>
</ul>
