<div class="large-10 columns">
  {{input id="new-category" type="text" value=newName action="createCategory" placeholder="Category name"}}
</div>
<div class="large-2 columns">
    <div class="button tiny radius">Create Category</div>
</div>

