<div class="row">
    <div class="row">
        <div class="large-12 columns">
            Created category is going to be inserted under: {{selectedCategoryName}}
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">
          {{input id="new-category" type="text" value=newName action="createCategory" placeholder="Category name"}}
        </div>
        <div class="large-2 columns">
            <div class="button tiny radius">Create Category</div>
        </div>
    </div>
</div>

<div class="row">
  {{category-list list=this.categories root=true}}
</div>