<h1>Payments</h1>


<table>
  <thead>
  <th>Account</th>
  <th>Other Account</th>
  <th>Amount</th>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.account.name %></td>
      <td><%= payment.other_account.name %></td>
      <td><%= payment.amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>
