<dl>
    <dt>Name</dt>
    <dd>{{model.name}}</dd>

    <dt>IBAN</dt>
    <dd>{{model.iban}}</dd>
</dl>

<p>
    Updated at: {{formatted-date model.updated_at}}
    <br>
    Created at: {{formatted-date model.created_at}}
</p>