<ul>
    {{#each account in model}}
        <li>
            {{#link-to 'account' account}}
                {{account.name}},
                {{account.iban}}
            {{/link-to}}
        </li>
    {{else}}
        <li>No accounts found.</li>
    {{/each}}
</ul>
