<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  {{#each oaccount in oaccounts}}
    <tr>
      <td>
        {{#link-to 'oaccount' oaccount}}
          {{oaccount.name}}
        {{/link-to}}
      </td>
      <td>
        {{view "select"
        content=categories
        optionValuePath="content.id"
        optionLabelPath="content.name"
        selection=oaccount.category}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="2">No other accounts found.</td>
    </tr>
  {{/each}}
  </tbody>
</table>
