<ul>
  {{#each filteredList as |category|}}
    <li{{action "selectCategory" category}}>{{category.name}}
      <button class="button radius xtiny alert" {{action "destroyCategory" category}}>X</button>
    </li>
    {{category-list category=category root=false}}
  {{/each}}
</ul>
