<div class="row">
    <ul>
      {{#each filteredList as |category|}}
          <li{{action "selectCategory" category}}>{{category.name}}</li>
        {{#if category.children}}
          {{#each category.children as |child|}}
            {{partial "categories/children"}}
          {{/each}}
        {{/if}}
      {{/each}}
    </ul>
</div>