<div class="row">
  <div class="small-12 large-12 columns">
    <hr>
    <dl class="sub-nav">
      <dt>Filter:</dt>
      <dd class="active">{{link-to 'All' 'oaccounts' (query-params filter="")}}</dd>
      <dd>{{link-to 'Categoryless' 'oaccounts' (query-params filter="categoryless")}}</dd>
    </dl>
    <hr>
  </div>
</div>