<td>
  {{#link-to 'oaccount' oaccount}}
    {{#if oaccount.name}}
      {{oaccount.name}}
    {{else}}
      *unnamed*
    {{/if}}
  {{/link-to}}
</td>
<td>
  {{view "select"
  action="selectedChanged"
  content=categories
  optionValuePath="content.id"
  optionLabelPath="content.name"
  selection=selectedCategory
  prompt="Please select a category"}}
</td>
<td>
  <button class="button tiny radius" {{action "saveOaccount" oaccount }}>Save</button>
</td>
